name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-unit:
    runs-on: ubuntu-latest

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run unit tests
        run: |
          dotnet test --filter Category!=Integration

  test-integration:
    runs-on: ubuntu-latest

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install native build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libboost-all-dev cmake

      - name: Build pokerstove library
        run: |
          cp -r ./lib/pokerstove-ext/src/programs/ps-recognize ./lib/pokerstove/src/programs/ps-recognize

          echo "add_subdirectory(ps-recognize)" >> ./lib/pokerstove/src/programs/CMakeLists.txt

          cd ./lib/pokerstove
          cmake -DCMAKE_BUILD_TYPE=Release -S . -B build
          cmake --build build -j 4

      - name: Run integration tests
        env:
          PokerStove__Path: ${{ github.workspace }}/lib/pokerstove/build/bin/ps-recognize
        run: |
          dotnet test --filter Category=Integration
